.App {
  text-align: center;
  background-color: #141f35;
  height: 100vh;
  font-family: Verdana, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Render {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.Menu {
  position: absolute;
  left: 50px;
  background-color: rgb(30, 30, 32);
  color: rgb(223, 223, 223);
  overflow: "wrap";
  width: 400px;
}

.MenuHeader {
  position: absolute;
  z-index: 4;
  margin-top: -10px;
  background-color: rgb(30, 30, 32);
  width: 400px;
  height: 50px;
  padding: 0 20px;
  box-shadow: 0 5px #615f5f;
}

.MenuBody {
  position: absolute;
  z-index: 3;
  top: 40px;
  background-color: rgb(30, 30, 32);
  width: 400px;
  padding: 8px 20px;
  font-size: calc(5px + 1vmin);
}

.Popup {
  position: absolute;
  z-index: 4;
  left: calc(100vw - 216px);
  top: 20px;
  background-color: rgb(61, 58, 58);
  color: rgb(223, 223, 223);
  width: 180px;
  height: 76px;
  padding: 10px 8px;
  font-size: 15px;
  border-radius: 10px;
}

.PopupWithButton {
  position: absolute;
  z-index: 4;
  left: calc(100vw - 216px);
  top: 20px;
  background-color: rgb(61, 58, 58);
  color: rgb(223, 223, 223);
  width: 180px;
  height: 104px;
  padding: 10px 8px;
  font-size: calc(5px + 1vmin);
  border-radius: 10px;
  border-color: rgb(223, 223, 223);
}

.PopupField {
  background-color: rgb(223, 223, 223);
  color: black;
  width: 30px;
  text-align: center;
  border: 4px solid rgb(223, 223, 223);
  border-radius: 4px;
  margin: 5px;
}

.PopupButton {
  background-color: rgb(173, 173, 173);
  width: 160px;
  height: 24px;
  border: none;
  border-radius: 6px;
  padding: 5px 5px;
  color: black;
  text-align: center;
  font-size: 12px;
}

.Record {
  position: absolute;
  z-index: 4;
  left: calc(100vw - 216px);
  background-color: rgb(61, 58, 58);
  color: rgb(223, 223, 223);
  width: 180px;
  height: 18px;
  padding: 10px 8px;
  font-size: 15px;
  border-radius: 10px;
}

.RecordControl {
  top: 20px;
}

.RecordAuto {
  top: 134px;
}

.RecordButton {
  background-color: rgb(61, 58, 58);
  color: rgb(138, 14, 14);
  font-size: 15px;
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  text-align: center;
}

.RecordButton:hover {
  background-color: rgb(61, 58, 58);
  color: red;
  font-size: 14px;
}

*:focus {
  outline: 0;
}

p {
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
  background-color:rgb(61, 58, 58);
  position: fixed;
  height: 100%;
  overflow: auto;
  align-items: center;
}

button {
  display: inline-block;
  color: rgb(173, 173, 173);
  background-color: rgb(61, 58, 58);
  border: none;
  padding: 16px 0;
  margin: 0;
  width: 95%;
  text-decoration: none;
  text-align: center;
}

button:active {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
}

.active_opt {
  border-left: 2px solid white;
  border-right: 2px solid rgb(61, 58, 58);
  color: white;
}

button:hover {
  background-color: rgb(61, 58, 58);
  color: white;
  border: none;
  outline: none;
}

pre {
  font-family: Monospace;
  padding: 10px;
  background-color: rgb(61, 58, 58);
  border-radius: 10px;
  text-align: left;
}

code {
  font-family: Monospace;
  margin: 5px;
  background-color: rgb(61, 58, 58);
}
